<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>RDS - Clientes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initital-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container">
           
            <div class="col-md-2 backIndex">
                <a class="btn btn-outline-secondary" href="/alterar">Voltar</a>
            </div>

            <div class="col-md-6 formDiv">
                <h2>Alterar de clientes</h2>
                <hr>
                {% for cliente in dados%}
          
                <form action="/alterarCliente" method="POST">
                    <div class="form-group">
                        <input class="form-control" id="id" type="hidden" name="id" 
                             value = {{cliente[0]}}>
                        <label for="nome">Nome</label>
                        <input class="form-control" id="nome" type="text" name="nome" 
                            placeholder="Digite seu nome" value = "{{cliente[1]}}" >
                    </div>
                    <div class="form-group">
                        <label for="idade">Idade</label>
                        <input class="form-control" id="idade" type="number" min="0" 
                            max="180" value = "{{cliente[2]}}" name="idade" placeholder="Digite sua idade" > 
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input class="form-control cpf" id="cpf" type="text" name="cpf" 
                        value = {{cliente[3]}} placeholder="Digite seu CPF" >
                    </div>
                    <button type="submit" class="btn btn-primary">Alterar</button>
                </form>
                {% endfor %}
            </div>
            
        </div>
       
        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <!-- Para adicionar a máscara de entrada no campo do formulário -->
        <script src="{{ url_for('static', filename='js/jquery.mask.js') }}"></script>
        <script>
            $(document).ready(function(){
                $('.cpf').mask('000.000.000-00', {reverse: true});
            });
        </script>
       
    </body>
</html>
